{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1> Create New Page</h1>
    <form action="{% url 'new_page' %}" method="POST"> 
        {% csrf_token %}
        <label>Entries:</label>
        <input type="text" name="title" placeholder="Enter a title">
    </br>
    <label>MarkDown Content:</label>
    <br/>
    <textarea name="content" row="1" cols="10"></textarea>
    <input type="submit" placeholder="New Page" class="btn btn-primary">
    </form>

    

{% endblock %}